---
layout: default2
--

<div id="homeid" class="col-sm-12">
	<div id="myCarousel" class="carousel slide">
		<!-- 轮播（Carousel）指标 -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
		</ol>   
		<!-- 轮播（Carousel）项目 -->
		<div class="carousel-inner">
			<div class="item active">
				<img decoding="async" src="https://chaozhanghnu.github.io/images/direction1.png" alt="First slide">
			</div>
			<div class="item">
				<img decoding="async" src="https://chaozhanghnu.github.io/images/direction1.png" alt="Third slide">
			</div>
		</div>
	</div>	

	{{ content }}
</div>
